<h2>New round</h2>

<%= render "form.html", changeset: @changeset, tees: @tees, courses: @courses,
                        action: user_round_path(@conn, :create, current_user(@conn)) %>

<%= link "Back", to: user_round_path(@conn, :index, current_user(@conn)) %>
