<h2>Edit tee</h2>

<%= render "form.html", changeset: @changeset,
                        action: course_tee_path(@conn, :update, @tee.course_id, @tee) %>

<%= link "Back", to: course_tee_path(@conn, :index, @tee.course_id) %>
